<div class="lock-screen-container">


  <div class="phone-status p-2.5 text-white">
    <div class="flex flex-row justify-between items-center">
      <div>
        <span class="ml-4">ECONET</span>
      </div>
      <div class="flex mr-4">
        <div class="ml-2 flex">
          <svg xmlns="http://www.w3.org/2000/svg" width="1.25rem" height="1.25rem" viewBox="0 0 16 16"><path fill="currentColor" d="M12 2a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1zM6.5 6a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1zM2 9a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/></svg>
          <span class="ml-1">LTE</span>
        </div>
        <div class="ml-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 24 24"><g fill="currentColor"><path d="M4.5 9.75a.75.75 0 0 0-.75.75V15c0 .414.336.75.75.75h6.75A.75.75 0 0 0 12 15v-4.5a.75.75 0 0 0-.75-.75z"/><path fill-rule="evenodd" d="M3.75 6.75a3 3 0 0 0-3 3v6a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3v-.037c.856-.174 1.5-.93 1.5-1.838v-2.25c0-.907-.644-1.664-1.5-1.837V9.75a3 3 0 0 0-3-3zm15 1.5a1.5 1.5 0 0 1 1.5 1.5v6a1.5 1.5 0 0 1-1.5 1.5h-15a1.5 1.5 0 0 1-1.5-1.5v-6a1.5 1.5 0 0 1 1.5-1.5z" clip-rule="evenodd"/></g></svg>
        </div>
      </div>
    </div>
  </div>


  <div class="flex justify-between content-section">
    <div class="date-time-section text-white pt-5">
      <div class="flex justify-center">
        <div>
          <div class="flex justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 15 15"><path fill="currentColor" fill-rule="evenodd" d="M11 3.5V6h1.5A1.5 1.5 0 0 1 14 7.5v6a1.5 1.5 0 0 1-1.5 1.5h-10A1.5 1.5 0 0 1 1 13.5v-6A1.5 1.5 0 0 1 2.5 6H4V3.5a3.5 3.5 0 1 1 7 0m-6 0a2.5 2.5 0 0 1 5 0V6H5z" clip-rule="evenodd"/></svg>
          </div>
          <div class="text-xl pt-3">
            {{ currentDate | date:'EEEE dd MMMM'}}
          </div>
          <div class="text-6xl pt-3">
            {{ currentDate | date:'HH:mm'}}
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="unlock-bar flex align-baseline text-white">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 16 16"><path fill="currentColor" d="M0 7.75A.75.75 0 0 1 .75 7h14.5a.75.75 0 0 1 0 1.5H.75A.75.75 0 0 1 0 7.75"/></svg>
      </div>


    </div>


  </div>





</div>
