<div class="col-start-1 col-end-13 p-3 rounded-lg">
  <div class="flex items-center justify-start flex-row-reverse">
    <div
      class="flex items-center justify-center h-8 w-8 rounded-full bg-indigo-500 flex-shrink-0"
    >
      A
    </div>
    <div
      class="relative mr-3 text-sm msg-send py-2 px-4 shadow rounded-xl"
    >
      <div class="msg msg-send">
        <div>
          {{message.body}}
        </div>
        <span class="text-sm font-normal text-gray-500 dark:text-gray-400 flex justify-end">
          {{message.time | timeFormat}}
          <span class="ml-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24"><path fill="currentColor" d="m2.394 13.742l4.743 3.62l7.616-8.704l-1.506-1.316l-6.384 7.296l-3.257-2.486zm19.359-5.084l-1.506-1.316l-6.369 7.279l-.753-.602l-1.25 1.562l2.247 1.798z"/></svg>
          </span>
        </span>
      </div>
    </div>
  </div>
</div>
