<div class="flex items-center" style="height: 100vh; overflow-y: hidden">
  <div
    class="relative mx-auto border-gray-800 dark:border-gray-800 bg-gray-800 border-[14px] rounded-[2.5rem] h-[900px] w-[425px] shadow-xl">
    <div class="w-[148px] h-[18px] bg-gray-800 top-0 rounded-b-[1rem] left-1/2 -translate-x-1/2 absolute"></div>
    <div class="h-[46px] w-[3px] bg-gray-800 absolute -start-[17px] top-[124px] rounded-s-lg"></div>
    <div class="h-[46px] w-[3px] bg-gray-800 absolute -start-[17px] top-[178px] rounded-s-lg"></div>
    <div class="h-[64px] w-[3px] bg-gray-800 absolute -end-[17px] top-[142px] rounded-e-lg"></div>
    <div class="rounded-[2rem] overflow-hidden w-[397px] h-[868px]">
      <div class="w-[397px] h-[868px]">

        <app-chat-screen></app-chat-screen>

        <!-- <app-phone-start-up></app-phone-start-up> -->

        <!-- <app-lock-screen></app-lock-screen> -->

        <!--        <app-home-screen></app-home-screen>-->

      </div>
    </div>
  </div>
</div>