jawce:
  has-auth: false
  tag-on-reply: true
  start-menu: "START-MENU"

whatsapp:
  hub-token: REPLACE-WITH-YOUR-WEBHOOK-VERIFICATION-TOKEN
  access-token: REPLACE-WITH-ACCESS-TOKEN
  phone-number-id: REPLACE-WITH-PHONE-NUMBER-ID
  app-secret: YOUR-APPLICATION-SECRET

server:
  servlet:
    context-path: "/jawce"
  port: 8080

spring:
  mustache:
    check-template-location: false
  application:
    name: "jawce-chatbot"
