/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


.msg {
  //font-size: 12px;
}

.msg-send {
  background-color: rgb(219, 255, 201);
}

.msg-receive {
  background-color: white;
}

.whatsapp-background {
  background-image: url("assets/img/bg.jpg");
}

.whatsapp-blue {
  background-color: rgb(33 134 246);
}

.whatsapp-header-blue {
  color: rgb(104, 171, 221);
}


.mobile-backdrop {
  background-color: rgb(17 24 39 / 0.5);
  z-index: 50;
}



/* Scroll Bar Styling */

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gray;
}
