<div class="flex flex-col flex-auto flex-shrink-0 rounded-2xl h-full">

  <div *ngIf="isSwipableContentVisible">
    <app-drawer (toggleDrawerEvent)="toggleSwipableContent()" (selectedOption)="selectListOption($event)"
      [isSwipableContentVisible]="isSwipableContentVisible" [drawerContent]="screenContent"></app-drawer>
  </div>




  <!--     Header Start     -->

  <div class="py-2 px-3  bg-white">
    <div class="flex flex-row justify-between items-center">
      <div>
        <span class="ml-4">ECONET</span>
      </div>

      <div class="flex mr-4">
        <div class="ml-2 flex">
          <svg xmlns="http://www.w3.org/2000/svg" width="1.25rem" height="1.25rem" viewBox="0 0 16 16">
            <path fill="currentColor"
              d="M12 2a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1zM6.5 6a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1zM2 9a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z" />
          </svg>
          <span class="ml-1">LTE</span>
        </div>
        <div class="ml-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 24 24">
            <g fill="currentColor">
              <path
                d="M4.5 9.75a.75.75 0 0 0-.75.75V15c0 .414.336.75.75.75h6.75A.75.75 0 0 0 12 15v-4.5a.75.75 0 0 0-.75-.75z" />
              <path fill-rule="evenodd"
                d="M3.75 6.75a3 3 0 0 0-3 3v6a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3v-.037c.856-.174 1.5-.93 1.5-1.838v-2.25c0-.907-.644-1.664-1.5-1.837V9.75a3 3 0 0 0-3-3zm15 1.5a1.5 1.5 0 0 1 1.5 1.5v6a1.5 1.5 0 0 1-1.5 1.5h-15a1.5 1.5 0 0 1-1.5-1.5v-6a1.5 1.5 0 0 1 1.5-1.5z"
                clip-rule="evenodd" />
            </g>
          </svg>
        </div>
      </div>

    </div>


    <div class="flex flex-row justify-between items-center" style="padding-top: 10px">




      <div class="flex">


        <div class="flex items-center">
          <svg class="whatsapp-header-blue" xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem"
            viewBox="0 0 24 24">
            <path fill="currentColor" fill-rule="evenodd"
              d="M7.72 12.53a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 1 1 1.06 1.06L9.31 12l6.97 6.97a.75.75 0 1 1-1.06 1.06z"
              clip-rule="evenodd" />
          </svg>
        </div>

        <div class="flex items-center">
          <span class="whatsapp-header-blue">24</span>
        </div>

        <div class="ml-2">
          <img class="w-10 h-10 rounded-full" src="assets/img/profile.png" />
        </div>

        <div class="flex items-center ml-2">
          <span>Test Emulator</span>
        </div>

      </div>

      <div class="flex" (click)="clearUserSession()">
        <div class="ml-4">
          <svg class="whatsapp-header-blue" xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem"
            viewBox="0 0 24 24">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
              d="m15.75 10.5l4.72-4.72a.75.75 0 0 1 1.28.53v11.38a.75.75 0 0 1-1.28.53l-4.72-4.72M4.5 18.75h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25h-9A2.25 2.25 0 0 0 2.25 7.5v9a2.25 2.25 0 0 0 2.25 2.25" />
          </svg>
        </div>
        <div class="ml-4">
          <svg class="whatsapp-header-blue" xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem"
            viewBox="0 0 24 24">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
              d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5z" />
          </svg>
        </div>
      </div>
    </div>
  </div>










  <div class="flex justify-end flex-col h-full overflow-x-auto p-2 whatsapp-background">





    <div class="flex flex-col h-full">

      <div class="flex justify-center">
        <span
          class="bg-[#c4d3fb] text-[#42495a] text-xs font-bold px-4 shadow-[0_1px_2px_0px_rgba(0,0,0,0.05)] py-0.5 rounded-full">Today</span>
      </div>

      <div class="mt-2 flex justify-center">
        <div
          class="flex items-center p-4 mb-4 text-sm text-[#1e1e1e] rounded-lg bg-[#fdf1b1] dark:bg-gray-800 dark:text-yellow-300"
          role="alert" style="max-width: 300px">
          <span class="sr-only">Info</span>
          <div>
            <span>
              <svg class="flex-shrink-0 inline w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem"
                viewBox="0 0 24 24">
                <path fill="currentColor" fill-rule="evenodd"
                  d="M12 1.5a5.25 5.25 0 0 0-5.25 5.25v3a3 3 0 0 0-3 3v6.75a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3v-6.75a3 3 0 0 0-3-3v-3c0-2.9-2.35-5.25-5.25-5.25m3.75 8.25v-3a3.75 3.75 0 1 0-7.5 0v3z"
                  clip-rule="evenodd" />
              </svg>
              Messages to this chat and calls are now secured with end-to-end encryption. Tap for more info.
            </span>
          </div>
        </div>
      </div>


      <div *ngFor="let message of messages" class="chat-container" #chatContainer>
        <app-msg-send *ngIf="message.recipient" [message]="message"></app-msg-send>
        <app-msg-receive *ngIf="!message.recipient" [message]="message" (actionTriggered)="buttonPressed($event)"
          (buttonReply)="buttonReply($event)"></app-msg-receive>
      </div>


      <!--      <div class="grid grid-cols-12 gap-y-2">-->

      <!--        <div class="col-start-1 col-end-13 p-3 rounded-lg">-->
      <!--          <div class="flex flex-row items-center">-->
      <!--            <div-->
      <!--              class="flex items-center justify-center h-8 w-8 rounded-full bg-indigo-500 flex-shrink-0"-->
      <!--            >-->
      <!--              A-->
      <!--            </div>-->
      <!--            <div-->
      <!--              class="relative ml-3 text-sm msg-receive py-2 px-4 shadow rounded-xl"-->
      <!--            >-->
      <!--              <div class="msg msg-receive">-->
      <!--                <div>-->
      <!--                  <button (click)="toggleSwipableContent()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" type="button" >-->
      <!--                    Show swipeable drawer-->
      <!--                  </button>-->
      <!--                </div>-->
      <!--              </div>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        <div class="col-start-1 col-end-13 p-3 rounded-lg">-->
      <!--          <div class="flex flex-row items-center">-->
      <!--            <div-->
      <!--              class="flex items-center justify-center h-8 w-8 rounded-full bg-indigo-500 flex-shrink-0"-->
      <!--            >-->
      <!--              A-->
      <!--            </div>-->
      <!--            <div-->
      <!--              class="relative ml-3 text-sm msg-receive py-2 px-4 shadow rounded-xl"-->
      <!--            >-->
      <!--              <div class="msg msg-receive">-->
      <!--                <div>-->
      <!--                  <app-text></app-text>-->
      <!--                </div>-->
      <!--              </div>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        <div class="col-start-1 col-end-13 p-3 rounded-lg">-->
      <!--          <div class="flex flex-row items-center">-->
      <!--            <div-->
      <!--              class="flex items-center justify-center h-8 w-8 rounded-full bg-indigo-500 flex-shrink-0"-->
      <!--            >-->
      <!--              A-->
      <!--            </div>-->
      <!--            <div-->
      <!--              class="relative ml-3 text-sm msg-receive py-2 px-4 shadow rounded-xl"-->
      <!--            >-->
      <!--              <div class="msg msg-receive">-->
      <!--                <div>-->

      <!--                  <app-list></app-list>-->

      <!--                </div>-->
      <!--              </div>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        <div class="col-start-1 col-end-13 p-3 rounded-lg">-->
      <!--          <div class="flex flex-row items-center">-->
      <!--            <div-->
      <!--              class="flex items-center justify-center h-8 w-8 rounded-full bg-indigo-500 flex-shrink-0"-->
      <!--            >-->
      <!--              A-->
      <!--            </div>-->
      <!--            <div-->
      <!--              class="relative ml-3 text-sm msg-receive py-2 px-4 shadow rounded-xl"-->
      <!--            >-->
      <!--              <div class="msg msg-receive">-->
      <!--                <div>-->
      <!--                  <app-document></app-document>-->
      <!--                </div>-->
      <!--              </div>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        <div class="col-start-1 col-end-13 p-3 rounded-lg">-->
      <!--          <div class="flex items-center justify-start flex-row-reverse">-->
      <!--            <div-->
      <!--              class="flex items-center justify-center h-8 w-8 rounded-full bg-indigo-500 flex-shrink-0"-->
      <!--            >-->
      <!--              A-->
      <!--            </div>-->
      <!--            <div-->
      <!--              class="relative mr-3 text-sm msg-send py-2 px-4 shadow rounded-xl"-->
      <!--            >-->
      <!--              <div class="msg msg-send">-->
      <!--                Lorem ipsum dolor sit, amet consectetur adipisicing. ?-->
      <!--              </div>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        <div class="col-start-1 col-end-13 p-3 rounded-lg">-->
      <!--          <div class="flex flex-row items-center">-->
      <!--            <div-->
      <!--              class="flex items-center justify-center h-8 w-8 rounded-full bg-indigo-500 flex-shrink-0"-->
      <!--            >-->
      <!--              A-->
      <!--            </div>-->
      <!--            <div-->
      <!--              class="relative ml-3 text-sm msg-receive py-2 px-4 shadow rounded-xl"-->
      <!--            >-->
      <!--              <div class="msg msg-receive">-->
      <!--                Lorem ipsum dolor sit amet consectetur adipisicing elit.-->
      <!--                Perspiciatis, in.-->
      <!--              </div>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        <div class="col-start-1 col-end-13 p-3 rounded-lg">-->
      <!--          <div class="flex items-center justify-start flex-row-reverse">-->
      <!--            <div-->
      <!--              class="flex items-center justify-center h-8 w-8 rounded-full bg-indigo-500 flex-shrink-0"-->
      <!--            >-->
      <!--              A-->
      <!--            </div>-->
      <!--            <div-->
      <!--              class="relative mr-3 text-sm msg-send py-2 px-4 shadow rounded-xl"-->
      <!--            >-->
      <!--              <div class="msg msg-send">-->
      <!--                Lorem ipsum dolor sit, amet consectetur adipisicing. ?-->
      <!--              </div>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        <div class="col-start-1 col-end-13 p-3 rounded-lg">-->
      <!--          <div class="flex flex-row items-center">-->
      <!--            <div-->
      <!--              class="flex items-center justify-center h-8 w-8 rounded-full bg-indigo-500 flex-shrink-0"-->
      <!--            >-->
      <!--              A-->
      <!--            </div>-->
      <!--            <div-->
      <!--              class="relative ml-3 text-sm msg-receive py-2 px-4 shadow rounded-xl"-->
      <!--            >-->
      <!--              <div class="msg msg-receive">-->
      <!--                Lorem ipsum dolor sit amet consectetur adipisicing elit.-->
      <!--                Perspiciatis, in.-->
      <!--              </div>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->

    </div>
  </div>
  <div class="flex flex-row items-center h-16 rounded-b-xl bg-gray-50 w-full px-2 py-4">
    <div class="flex-grow ml-4">
      <div class="relative w-full">
        <input (keydown)="onKeyDown($event)" placeholder="Type your message" [(ngModel)]="message" type="text"
          id="default-input"
          class="bg-white border border-gray-300 text-gray-900 text-xs rounded-[30px] focus:ring-gray-300 focus:border-transparent block w-full p-2.5"
          style="font-size: 15px">

      </div>
    </div>
    <div class="ml-1">
      <button (click)="sendMessage()"
        class="flex items-center whatsapp-blue justify-center rounded-full text-white px-2 py-2 flex-shrink-0">
        <span class="">
          <svg xmlns="http://www.w3.org/2000/svg" width="1.25rem" height="1.25rem" viewBox="0 0 24 24">
            <path fill="currentColor"
              d="M3.478 2.404a.75.75 0 0 0-.926.941l2.432 7.905H13.5a.75.75 0 0 1 0 1.5H4.984l-2.432 7.905a.75.75 0 0 0 .926.94a60.519 60.519 0 0 0 18.445-8.986a.75.75 0 0 0 0-1.218A60.517 60.517 0 0 0 3.478 2.404" />
          </svg>
        </span>
      </button>
    </div>
  </div>
</div>